body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/*Nav bar e Footer */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    height: 18vh;
    font-weight: 600;
    padding: 0px 3rem;
    color: #C66D00;
    background-color: #F5EFE4;
}
nav a{
    font: inherit; 
    color: #C66D00;
}
nav a:hover{
    transition: 0.05s;
    color: #ad651d;
    font-size: 2rem;
}
.footer{
    padding: 1.7rem 0;
    font-size: 1rem;
    background-color: #5A3A2E;
    color: #F5EFE4;
}
.footer-paragrafo{
    margin: 0;
}
/* Classes utilitárias */
.flex-center{
    display:flex;
    align-items:center;
    justify-content:center;
}
.flex-center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.receita-subtitulo{
    margin: 0;
    padding: 2rem 3rem;
    font-size: 5rem;
    color: #70111B;
}
.receita-img{
    height: 25rem;
}

 /*Pagina Inicial */
.divtitulo{
    display: flex;
    align-items: center; 
    text-align: center;
    height: auto;
    max-height: 23rem;
    background-color: #D56138;
}
.titulo{
    margin: 0;
    padding: 0px 3rem;
    font-size: 7rem;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.39);
    color: #F5EFE4;
}
.feijoada-img{
    position: relative;
}
.instrucoes{ 
    background-color: #E3BE9B;
    padding: 5rem;
    gap: 4rem;
}
.container-cards{
    flex-wrap: wrap;
    gap: 4rem;
}
.card{
    flex-direction: column;
    height: 25rem;
    width: 17rem;
    border-radius: 3rem;
    box-shadow: 0.15rem 0.15rem 2rem 0.2rem #8a3f3f;
    background-color: #F5EFE4;
}
.titulo-secao{
    margin: 0;
    font-size: 3.2rem;
    color: #70111B;
}
.titulo-secao-zero{
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 0.25rem;
    text-decoration-color: #d46a2e;
}

.imgcards{
    user-select: none;
    height:auto;
    max-width:80%;
}
.cardsubtitle{
    user-select: none;
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
    color: #D56138;
}

/* Usado nas paginas de regiões e na inicial */
.regioes{
    height: 30rem;
}
.titulo-regioes{
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center; 
    color: #70111B;
}
.region-button{
    cursor: pointer;
    border-style: none;
    user-select: none;
    height: 12rem;
    width: 11rem;
    border-radius: 1.2rem;
    font-size: 1.3rem;
    transition: 0.15s;
    background-color: rgb(245,239,228);
}
.region-button:hover{
    background-color:#e6ded5;
    transform: translateY(-10px);
    box-shadow: 0.1rem 0px 0.5rem 0.1rem #555;

}
#button1{
    border:  solid 0.1rem #2E8B57;
    color: #2E8B57;
}
#button2{
    border: solid 0.1rem rgb(213,97,56);
    color: #D56138;
}
#button3{
    border: solid 0.1rem #D4A017;
    color:#D4A017;
}
#button4{
    border: solid 0.1rem #8B1E3F;
    color: #8B1E3F;
}
#button5{
    border:  solid 0.1rem #2C5AA0;
    color: #2C5AA0;
}
.botoes-regioes{
    display: flex;
    gap: 1.8rem;
}

/* Usado em todas as paginas de região */
.header-receita{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #D56138;
}
.header-receita figure{
    margin: 0;
    height: 100%;
    line-height: 0;
}
.ingredientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
    background-color: #E3BE9B;
}
.ingredientes-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    width: 60rem;
    border-radius: 5rem;
    box-shadow: 0.3rem 0.3rem 3rem 1rem #a6501e81;
    background-color: #F5EFE4;
}
.ingredientes-div h3{
    margin: 0;
    padding-left: 2.5rem;
    font-size: 3rem;
    color: #70111B;
}
.ingredientes-div ul li{
    padding-top: 0.5rem;
    font-size: 2rem;
    color: #701119;
}
.ingredientes-div ul{
    padding-left: 6.5rem;
    color: #D56138;
}
.ingredientes-div ul li::marker {
    color: #D56138; 
    font-size: 2rem; 
}
.modode-preparo-fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 100rem;
    background-color: #F5EFE4;
}
.modo-depreparo-title{
    margin-top: 0;
    padding-left: 6rem;
    font-size: 3rem;
    color: #70111B;
}
.modode-preparo-div ol li{
    padding: 1.3rem;
    font-size: 2rem;
    color: #D56138;
}
.modode-preparo-div ol{
    padding: 1.3rem;
    padding-left: 9rem;
}
.modode-preparo-div p{
    font-size: 2rem;
    color: #70111B;
}
.historia-fundo{
    overflow: hidden;
    height: 80rem;
    background-color: #E3BE9B;
}
.historia-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 55rem;
    height: 62rem;
    border-radius: 3rem;
    background-color: #F5EFE4;
}
.historia-card h2{
    margin: 0;
    padding-top: 3rem;
    font-size: 2.5rem;
    color: #D56138;
}
.historia-card p{
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    padding: 2rem;
    line-height: 2.3rem;
    color: #70111B;
}
.img-historia-regiao{
    width: 100%;
    height: 40%;
}
/*Paginas Recitas */
.tacaca-img, 
.feijoada-img{
   padding-top: 2rem;
}
.ingredientes-sul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45rem;
    background-color:#E3BE9B; 
}
#ingredientes-div-sul{
    height: 25rem;
}

#modo-de-preparo-sul{
    height: 80rem;
}

/*Pagina Sobre Nós*/
.titulo-sobrenos-fundo{
    display: grid;
    place-items: center;
    height: 23rem;
    background-color: #D56138;
}
.titulo-sobrenos{
    text-align: center;
    margin: 0;
    font-size: 6rem;
    color: #F5EFE4;

}
.membros-equipe-fundo{
    height: 95rem;
    background-color: #E3BE9B;
    display: grid;
    place-items: center;
}
.membros-equipe-div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4rem;
    height: 85rem;
    width: 60rem;
    border-radius: 3rem;
    background-color: #F5EFE4;
    box-shadow: 0.3rem 0.3rem 2rem 0.5rem #b1673c83;
}
.membros-equipe-div h2{
    text-align: center;
    margin-top: 1rem;
    font-size: 2.3rem;
    color: #70111B;

}
.card-membros{
    display: flex;
    padding-top: 1rem;
}
.info-membro{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.info-membro h4{
    margin: 0;
    padding-top: 1.7rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #D56138;
}
.info-membro p{
    margin-top: 1rem;
    font-weight: 500;
    color: #70111B;
}
.img-membros{
   height: 20rem;
   width: 20rem;
   border-radius: 2rem;
}