body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
/* Classes utilitárias */
.flex-center{
    display:flex;
    align-items:center;
    justify-content:center;
}
.ReceitaSubtitulo{
    margin: 0;
    padding: 2rem 3rem;
    font-size: 5rem;
    color: #70111B;
}
.ReceitaImg{
    height: 30rem;
} /*Pagina Inicial */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    height: 18vh;
    font-weight: 600;
    padding: 0px 3rem;
    color: #C66D00;
    background-color: #F5EFE4;
}
nav a{
    font: inherit; 
    color: #C66D00;
}
nav a:hover{
    color: #a1651b;
}
.Divtitulo{
    display: flex;
    align-items: center; 
    text-align: center;
    height: auto;
    max-height: 23rem;
    background-color: #D56138;
}
.Titulo {
    margin: 0;
    padding: 0px 3rem;
    font-size: 7rem;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.39);
    color: #F5EFE4;
}
.FeijoadaIMG{
    position: relative;
    height: 33rem;
    top: 0.5rem;
}
.Instrucoes{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    background-color: #E3BE9B;
    padding: 5rem;
    gap: 4rem;
}
.ContainerCards{
    flex-wrap: wrap;
    gap: 4rem;
}
.Card{
    flex-direction: column;
    height: 25rem;
    width: 17rem;
    border-radius: 3rem;
    box-shadow: 0.15rem 0.15rem 2rem 0.2rem #8a3f3f;
    background-color: #F5EFE4;
}
.TituloSecao{
    margin: 0;
    font-size: 3.2rem;
    color: #70111B;
}
.TituloSecao-Zero{
    text-decoration: underline;
    text-decoration-color: #d46a2e;
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 0.25rem;
}

.Imgcards{
    user-select: none;
    height:auto;
    max-width:80%;
}
.Cardsubtitle{
    user-select: none;
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
    color: #D56138;
}
.Footer{
    padding: 1.7rem 0;
    font-size: 1rem;
    background-color: #5A3A2E;
    color: #F5EFE4;
}
.Footerparagrafo{
    margin: 0;
}
/* Usado nas paginas de regiões e na inicial */
.Regioes{
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.TituloRegioes{
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center; 
    color: #70111B;
}
.region-button{
    cursor: pointer;
    border-style: none;
    user-select: none;
    height: 12rem;
    width: 11rem;
    border-radius: 1.2rem;
    font-size: 1.3rem;
    transition: 0.15s;
    background-color: rgb(245,239,228);
}
.region-button:hover{
    background-color:#e6ded5;
    box-shadow: 0.1rem 0px 0.5rem 0.1rem #555;
    transform: translateY(-15px);

}
#Button1{
    border:  solid 0.1rem #2E8B57;
    color: #2E8B57;
}
#Button2{
    border: solid 0.1rem rgb(213,97,56);
    color: #D56138;
}
#Button3{
    border: solid 0.1rem #D4A017;
    color:#D4A017;
}
#Button4{
    border: solid 0.1rem #8B1E3F;
    color: #8B1E3F;
}
#Button5{
    border:  solid 0.1rem #2C5AA0;
    color: #2C5AA0;
}
.BotoesRegioes{
    display: flex;
    gap: 1.8rem;
}
/* Usado em todas as paginas de região */
.header-receita{
    display:flex;
    align-items:center;
    justify-content:center;
    height: auto;
    background-color: #D56138;
}
.Ingredientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
    background-color: #E3BE9B;
}
.Ingredientes-Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    width: 60rem;
    border-radius: 5rem;
    box-shadow: 0.3rem 0.3rem 3rem 1rem #a6501e81;
    background-color: #F5EFE4;
}
.Ingredientes-Div h3{
    margin: 0;
    padding-left: 2.5rem;
    font-size: 3rem;
    color: #70111B;
}
.Ingredientes-Div ul li{
    padding-top: 0.5rem;
    font-size: 2rem;
    color: #701119;
}
.Ingredientes-Div ul{
    padding-left: 6.5rem;
    color: #D56138;
}
.Ingredientes-Div ul li::marker {
    color: #D56138; 
    font-size: 2rem; 
}
.MododePreparo-Fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 100rem;
    background-color: #F5EFE4;
}
.ModoDepreparo-Title{
    margin-top: 0;
    padding-left: 6rem;
    font-size: 3rem;
    color: #70111B;
}
.MododePreparo-Div ol li{
    padding: 1.3rem;
    font-size: 2rem;
    color: #D56138;
}
.MododePreparo-Div ol{
    padding: 1.3rem;
    padding-left: 9rem;
}
.MododePreparo-Div p{
    font-size: 2rem;
    color: #70111B;
}
.Historia-Fundo{
    overflow: hidden;
    height: 80rem;
    background-color: #E3BE9B;
}
.Historia-Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 55rem;
    height: 62rem;
    border-radius: 3rem;
    background-color: #F5EFE4;
}
.Historia-Card h2{
    margin: 0;
    padding-top: 3rem;
    font-size: 2.5rem;
    color: #D56138;
}
.Historia-Card p{
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    padding: 2rem;
    line-height: 2.3rem;
    color: #70111B;
}
.ImgHistoriaTacaca,
.ImgHistoriaAcarajé,
.ImgHistoria-ArrozComPequi,
.ImgHistoriaFeijoada,
.ImgHistoriachurrascogaucho{
    display:block;
    width:100%;
    height:40%;
}
/*Paginas Recitas */
.TacacaImg{
    height: 30rem;
    padding-top: 2rem;
}
.Ingredientes-sul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45rem;
    background-color:#E3BE9B; 
}
#Ingredientes-Div-Sul{
    height: 25rem;
}

#ModoDePreparo-Sul{
    height: 80rem;
}
/*Pagina Sobre Nós*/
.Titulo-SobreNos-Fundo{
    display: grid;
    place-items: center;
    height: 23rem;
    background-color: #D56138;
}
.Titulo-SobreNos{
    text-align: center;
    margin: 0;
    font-size: 6rem;
    color: #F5EFE4;

}
.MembrosEquipe-Fundo{
    height: 95rem;
    background-color: #E3BE9B;
    display: grid;
    place-items: center;
}
.MembrosEquipe-Div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4rem;
    height: 85rem;
    width: 60rem;
    border-radius: 3rem;
    background-color: #F5EFE4;
    box-shadow: 0.3rem 0.3rem 2rem 0.5rem #b1673c83;
}
.MembrosEquipe-Div h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.3rem;
    color: #70111B;

}
.CardMembros{
    display: flex;
    padding-top: 2.5rem;
}
.InfoMembro{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.InfoMembro h4{
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #D56138;
}
.InfoMembro p{
    margin-top: 1rem;
    color: #70111B;
}
.ImgMembros{
   height: 20rem;
   width: 20rem;
   border-radius: 2rem;
}
