body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     font-size: 1.7rem;
    color: #C66D00;
    background-color: #F5EFE4;
    height: 18vh;
    font-weight: 600;
    padding: 0px 3rem;
}
nav a{
      color: #C66D00;
      font: inherit; 
}
nav a:hover{
    color: #a1651b;
}
.Divtitulo{
    display: flex;
    align-items: center; 
    text-align: center;
    height: auto;
    max-height: 23rem;
    background-color: #D56138;
}
.Titulo {
    margin: 0;
    padding: 0px 3rem;
    font-size: clamp(2.5rem, 7vw, 8rem);
    color: #F5EFE4;
}
.FeijoadaIMG{
    position: relative;
    max-width:150%;
    top: 0.5rem;
}
.Instrucoes{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    background-color: #E3BE9B;
    padding: 5rem;
    gap: 4rem;
}

.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 25rem;
    width: 17rem;
    border-radius: 3rem;
    box-shadow: 0.15rem 0rem 1.5rem 0.1rem #ab8a8a;
    background-color: #F5EFE4;
}
.TituloSecao{
    margin: 0;
    color: #70111B;
    font-size: 3.2rem
}
.ContainerCards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.Imgcards{
    max-width:80%;
    height:auto;
}
.Cardsubtitle{
    text-align: center;
    margin: 0;
    font-size: 1.6rem;
    color: #D56138;
}
.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7rem 0;
    font-size: 1rem;
    background-color: #5A3A2E;
    color: #F5EFE4;
}
.Footerparagrafo{
    margin: 0;
}
.Regioes{
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.TituloRegioes{
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center; 
    color: #70111B;
}
.region-button{
    height: 12rem;
    width: 11rem;

    border-style: none ;
    border-radius: 1.2rem;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: rgb(245,239,228);
    color: rgb(213,97,56);
}
.region-button:hover{
    transition: 0.15s;
    background-color:#e6ded5;
    box-shadow: 0.1rem 0px 0.5rem 0.1rem #555;

}
.BotoesRegioes{
    display: flex;
    gap: 2.5rem;
}
/* Usado em todas as paginas de região */
.Ingredientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60rem;
    background-color:#E3BE9B; 
}
.Ingredientes-Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    width: 60rem;
    border-radius: 5rem;
    box-shadow: 0.3rem 0.3rem 1.5rem 0.1rem #555;
    background-color: #F5EFE4;
}
.Ingredientes-Div h3{
    margin: 0;
    padding-left: 2.5rem;
    font-size: 3rem;
    color: #70111B;
}
.Ingredientes-Div ul li{
    padding-top: 0.5rem;
    font-size: 2rem;
    color: #701119;
}
.Ingredientes-Div ul{
    padding-left: 6.5rem;
    color: #D56138;
}
.Ingredientes-Div ul li::marker {
    color: #D56138; 
    font-size: 2rem; 
}
.MododePreparo-Fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 95rem;
    background-color: #F5EFE4;
}
.ModoDepreparo-Title{
    margin-top: 0;
    padding-left: 6rem ;
    font-size: 3rem;
    color: #70111B;
}
.MododePreparo-Div ol li{
    padding: 1.3rem;
    font-size: 2rem;
    color: #D56138;
}
.MododePreparo-Div ol{
    padding: 1.3rem;
    padding-left: 9rem;
}
.MododePreparo-Div p{
    font-size: 2rem;
    color: #70111B;
}
.Historia-Fundo{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 80rem;
    background-color: #E3BE9B;
}
.Historia-Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 55rem;
    height: 62rem;
    border-radius: 3rem;
    background-color: #F5EFE4;
}
.Historia-Card h3{
    margin: 0;
    padding-top: 3rem;
    font-size: 2.5rem;
    color: #D56138;
}
.Historia-Card p{
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
    padding: 2rem;
    line-height: 2.3rem;
    color: #70111B;
}

/* Pagina 2 - Região Norte*/
.TacacaFundo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D56138;
}
.TacacaImg{
    padding-top: 2rem;
    max-width: 40%;
    position: relative;
}

.TacacaSubtitle{
    margin: 0;
    font-size: 6rem;
    padding: 2rem 3rem;
    color: #70111B;
}
.ImgHistoriaTacaca{
    display: block; 
    width: 100%;
    height: 40%;
}
/* Terceira Pagina - Região Nordeste*/
.AcarajéFundo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-color: #D56138;
}
.AcarajéImg{
    width: 40%;
    padding-top: 3rem;
}
.AcarajéSubtitle{
    margin: 0;
    padding: 2rem 3rem;
    font-size: 6rem;
    color: #70111B;
}
.ImgHistoriaAcarajé{
    display: block;
    width: 100%;
    height: 40%;
}
/*Pagina 4 - Centro-Oeste*/
.ArrozComPequiFundo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
    background-color: #D56138;
}
.ArrozComPequiImg{
   max-width: 40%;
}
.ArrozCPequiSubtitle{
    margin: 0;
    padding: 2rem 3rem;
    font-size: 5rem;
    color: #70111B;
}
.ImgHistoria-ArrozComPequi{
    display: block;
    width: 100%;
    height: 40%;
}
/*Pagina 5 - Sudeste */
.FeijoadaFundo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    background-color: #D56138;
}
.FeijoadaImgSudeste{
    max-width: 35%;
}
.FeijoadaSubtitle{
    margin: 0;
    padding: 2rem 3rem;
    font-size: 5rem;
    color: #70111B;
}
.ImgHistoriaFeijoada{
    display: block;
    width: 100%;
    height: 40%;
}
/*Pagina 6 - Sul */
.ChurrascoFundo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    background-color: #D56138;
}
.ChurrascoGauchoImg{
    width: 40%;
    padding-bottom: 3rem;
}
.ChurrascoSubtitle{
    margin: 0;
    padding: 2rem 3rem;
    font-size: 4.5rem;
    color: #70111B;
}
.Ingredientes-sul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45rem;
    background-color:#E3BE9B; 
}
.Ingredientes-Div-Sul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30rem;
    width: 60rem;
    border-radius: 5rem;
    box-shadow: 0.3rem 0.3rem 1rem 0.1rem #555;
    background-color: #F5EFE4;
}
.Ingredientes-Div-Sul h3{
    margin: 0;
    padding-left: 2.5rem;
    font-size: 3rem;
    color: #70111B;
}
.Ingredientes-Div-Sul ul{
    padding-left: 6.5rem;
}
.Ingredientes-Div-Sul ul li::marker{
    color: #D56138;
}
.Ingredientes-Div-Sul ul li{
    font-size: 2rem;
    color: #70111B;
    line-height: 4rem;
}
.ImgHistoriachurrascogaucho{
    display: block;
    width: 100%;
    height: 40%;
}